<div class="try-once-subscription-wrapper tab-wrapper">
  <label class="label-wrapper">
    <input type="radio" name="subscription" value="try-once">
    <div class="flex-wrapper">
      <span class="text">Try Once</span>
      {% assign base_price = product.price %}
      {% assign subscription_price = base_price | times: 0.25 %}
      {% assign final_price = subscription_price | times: 0.8 %}

      <div class="price-wrapper single-drink-price-wrapper">
        {{ final_price | money }} <s class="comnpare-price">{{ base_price | money }}</s>
      </div>
      
      {% assign base_price = product.price | times: 2 %}
      {% assign subscription_price = base_price | times: 0.25 %}
      {% assign final_price = subscription_price | times: 0.8 %}

      <div class="price-wrapper double-drink-price-wrapper">
        {{ final_price | money }} <s class="comnpare-price">{{ base_price | money }}</s>
      </div>
    </div>
  </label>

  <div class="inner-content-wrapper" first-vid="{{ product.selected_or_first_available_variant.id }}">
    <div class="input-container">
      <div class="input-card">
        <label class="label-wrapper">
          <input type="radio" name="input-card" value="single-drink" checked>
          <span class="text">Single Drink</span>
        </label>
      </div>
      <div class="input-card">
        <label class="label-wrapper">
          <input type="radio" name="input-card" value="double-drink">
          <span class="text">Double Drink</span>
        </label>
      </div>
    </div>
    <div class="show-result-wrapper active-single-drink">
      <div class="single-drink">
        {% render 'variant-data', addflavor: 'try-regular-flavor' %}
      </div>
      <div class="double-drink double-drink-variant-selection">
        {% render 'variant-data', addflavor: 'try-flavor-1', index: 1 %}
        {% render 'variant-data', addflavor: 'try-flavor-2', index: 2 %}
      </div>
    </div>
    {% if product.metafields.custom.try_once_what_included != blank %}
      {{ product.metafields.custom.try_once_what_included }}              
    {% endif %}
  </div>
</div>